<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="../static/assets/logo_favicon.png">
</head>
<link rel="stylesheet" href="../static/css/login.css">
</head>
<body>

    
    <img src="../static/assets/login-left_salesianos.jpg" alt="Logo Salesianos">
    

    <div class="caja">
        <div class="login">
        <div class="cajalogin">
            <h2>
                <i class="fa-solid fa-right-to-bracket"></i>
                Login
            </h2>
            <input type="text" placeholder="Usuario">

            <input type="password" placeholder="Constraseña">
            
            <input type="submit" value="Iniciar sesión" />

            <div class="grupo">

            <a href="#">Olvidaste la contraseña</a>

            <a href="#">Crear cuenta</a>
            </div>
        </div>
        </div>
    </div>

    <footer>
        <p>&copy;Salesianos Zaragoza. Todos los derechos reservados</p>
    </footer>
</body>
</html>