<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio</title>
  <link rel="stylesheet" href="../static/css/menu.css" />
  <link rel="icon" type="image/png" href="../static/assets/logo_favicon.png" />
  
</head>

<body>
  <!-- Menú de navegación -->
  <nav class="barra-navegacion">
    <ul>
      <li><a href="menu.html" class="activo">Inicio</a></li>
      <li><a href="presupuestos.html">Presupuestos</a></li>
      <li><a href="proveedores.html">Proveedores</a></li>
      <li><a href="ordenes_compra.html">Órdenes de compra</a></li>
      <li><a href="historico.html">Histórico</a></li>
    </ul>
  </nav>

  <!-- Contenido principal -->
  <div class="contenido">
 
    <div class="resumen-presupuestos">
      <div class="tarjeta">
        <h2>Presupuesto General</h2>
        <p>Cantidad Inicial: <span id="presupuesto-inicial">-</span> €</p>
        <p>Gastado: <span id="presupuesto-gastado">-</span> €</p>
        <p>Restante: <span id="presupuesto-restante">-</span> €</p>
      </div>

      <div class="tarjeta">
        <h2>Plan de Inversiones</h2>
        <p>Cantidad Inicial: <span id="inversion-inicial">-</span> €</p>
        <p>Gastado: <span id="inversion-gastado">-</span> €</p>
        <p>Restante: <span id="inversion-restante">-</span> €</p>
      </div>
    </div>
  </div>

  <!-- Pie de página -->
  <footer>
    <p>&copy; Salesianos Zaragoza. Todos los derechos reservados</p>
  </footer>
</body>
</html>
