<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores</title>
    <link rel="stylesheet" href="../static/css/proveedores.css">
    <link rel="icon" type="image/png" href="../static/assets/logo_favicon.png">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a href="menu.html">Inicio</a></li>
            <li><a href="presupuestos.html">Presupuestos</a></li>
            <li><a href="proveedores.html" class="active">Proveedores</a></li>
            <li><a href="ordenes_compra.html">Órdenes de compra</a></li>
            <li><a href="historico.html">Histórico</a></li>
        </ul>
    </nav>

    <div class="content">
  

    <!-- Tabla de proveedores -->
<section class="tabla-proveedores">
      <h2>Listado de Proveedores</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>CIF/NIF</th>
            <th>Dirección</th>
            <th>Localidad</th>
            <th>Provincia</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Ofimática 2000</td>
            <td>B12345678</td>
            <td>C/ Falsa 123</td>
            <td>Zaragoza</td>
            <td>Zaragoza</td>
            <td>976123456</td>
            <td>contacto@ofimatica2000.com</td>
            <td>
              <button class="btn-editar">Editar</button>
              <button class="btn-eliminar">Eliminar</button>
              <button class="btn-anadir">Añadir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

          
      
          <!-- Formulario de alta/edición -->
          <section class="form-section" style="display: none;">
            <h2>Nuevo / Editar Proveedor</h2>
            <form id="form-proveedor" method="POST" action="ServletCrearProveedor">
              <input type="hidden" name="id" id="id"/> <!-- Este campo se llena al editar -->
              <input type="text" name="nombre" placeholder="Nombre del proveedor" required />
              <input type="text" name="nif" placeholder="CIF/NIF" required />
              <input type="text" name="direccion" placeholder="Dirección" required />
              <input type="text" name="localidad" placeholder="Localidad" required />
              <input type="text" name="provincia" placeholder="Provincia" required />
              <input type="tel" name="telefono" placeholder="Teléfono" required />
              <input type="email" name="email" placeholder="Correo electrónico" required />
              <button type="submit">Guardar</button>
            </form>
          </section>
        
    </div>


<footer>
    <p>&copy;Salesianos Zaragoza. Todos los derechos reservados</p>

</footer>



</body>
</html>
